body {
    background-color: slategray;
}

div#board {
    padding: 3em;
    text-align: center;
}

div.row > div {
    float: left;
    height: 100px;
    width: 100px;
    clear: right;
}

.row {
    margin: 0 auto;
    width: 302px;
}

.top {
    border-bottom: 1px black solid;
}

.bottom {
    border-top: 1px black solid;
}

.left {
    border-right: 1px black solid;
}

.right {
    border-left: 1px black solid;
}

.row:hover {
    cursor: pointer;
}

.cell {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: gray;
}

.title {
    color: yellow;
    text-decoration: underline;
}

.winner {
    display: none;
    padding: 10px;
    font-size: 32px;
    color: violet;
}

.reset {
    padding: 10px;
    margin: 30px;
    align: center;
}